// @import "react-loader-spinner/dist/loader/css/react-spinner-loader.css";
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
  font-family: 'Rajdhani', sans-serif;
  background-color: #020203;
  color: #eebea4;
}

h1, h2, h3, h4, h5, h6 {
  color: #eebea4;
}

label {
  color: #eebea4;
  font-size: 16px;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  flex-wrap: wrap;
}

.watermark:after {
  content: "";
  background: url(/assets/bg_thai.jpg)no-repeat;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

input {
  max-width: 300px;
  border-radius: 20px;
}

input.display-none{
  display: inline;
}

.background-color {
  background-color: #232323;
  padding: 20px 0;
}

.top-bar-section {
  li {
    display: inline;
    font-weight: 800;
    font-size: 18px;
    margin: 20px;
  }
}

.grid-container {
  // margin: 3em 15em;
  // text-align: center;
  // background-color: #232323;
  margin: 5px 200px;
  text-align: center;
  color: #eebea4;
  padding: 20px 0;
}

label.entree-text {
  color: #eebea4;
  font-size: 1rem;
  font-weight: 600;

}

.entree-link {
  color: #eebea4;
}

.satisfy {
  font-family: 'Satisfy', cursive;
}
#map {
  height: 300px;
  max-width: 400px;
  // height: 20em;
  // width: 30em;
  margin: auto;
}

.errorText {
  background-color: red;
}

.button {
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 150px;
  font-weight: 700;
}

.margin-auto {
  margin: 0 auto;
}

form {
  .button-group {
    display: block;
  }
}

.button-margin-top {
  margin-top: 20px;
}

.entree-picker-container {
  background-color: #232323;
  margin-top: 20px;
  padding-top: 20px;
  input {
    // max-width: 300px;
    margin: 0 auto;
  }
  .callout {
    border: none;
    background-color: #232323;
  }
}

.random-entree {
  .entree-image {
    width: 40px;
    margin-right: 2px;
  }
  .restaurant-image {
    width: 40px;
    margin-right: 4px;
  }
}

.entree-history {
  background-color: transparent !important;
  h4 {
    font-family: 'Satisfy', cursive;
  }
  .callout {
    min-height: 300px;
    background-color: #232323;
    color: #eebea4;
    vertical-align: middle;
  }
  input {
    margin: 0 auto 20px auto;
    display: block;
  }

  .entree-image {
    width: 25px;
    margin-right: 10px;
  }
  .restaurant-image {
    width: 25px;
    margin-right: 10px;
  }
}

.review-tile {
  // color: #f6f1cf;
  margin-top: 20px;
  padding: 20px 0;
  border: 1px solid #fa9500;
  p {
    margin-bottom: 0;
  }
}

.user-experience {
  .callout {
    background-color: #232323;
    color: #eebea4;
    vertical-align: middle;
  }
  .review-tile {
    margin: 0 250px;
  }
  input {
    margin: 0 auto 20px auto;
    display: block;
  }
}

.entree-home {
  .about-site {
    background-color: #232323;
    padding: 40px;
  }
  .callout {
    margin-top: 10px;
    background-color: #232323;
    color: #eebea4;
  }
  .display-flex {
    display: inline-flex;
  }
  .fa-user {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    color: #fa9500;
  }

  .tip {
    width: 0px;
    height: 0px;
    position: absolute;
    background: transparent;
    border: 10px solid #fa9500;
  }

  .tip-left {
    top: 10px;
    left: -25px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
   }

   .dialogbox .body {
    position: relative;
    width: 250px;
    height: 80px;
    // margin: 20px 10px;
    padding: 5px;
    background-color: #464646;
    border-radius: 3px;
    border: 1px solid #fa9500;
  }

  .body .message {
    min-height: 30px;
    border-radius: 3px;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
  }
  .user {
    font-size: 12px;
    float: right;
    margin: 10px;
  }

  .user-reviews-text {
    background-color: #232323;
    padding: 20px 0;
  }

}
