@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
  font-family: 'Rajdhani', sans-serif;
  background-color: #020203;
  color: #eebea4;
}

.top-bar {
  background-color: transparent;
  a {
    color: #fa9500;
  }
  ul {
    background-color: transparent;
  }
}

.title-bar {
  background-color: transparent;
}

.title-bar {
  background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  color: #eebea4;
}

label {
  color: #eebea4;
  font-size: 16px;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  flex-wrap: wrap;
}

.watermark:after {
  content: "";
  background: url(/assets/bg_thai.jpg)no-repeat;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.new_user {
  input, textarea {
    max-width: 30%;
  }
}

input, textarea {
  max-width: 75%;
  border-radius: 20px;
}

input.display-none, textarea.display-none{
  display: inline;
}

.background-color {
  background-color: #232323;
  border-radius: 10px;
  padding: 20px 0;
}

.top-bar-section {
  li {
    display: inline;
    font-weight: 800;
    font-size: 18px;
    margin: 20px;
  }
}

.grid-container {
  margin: 0 15%;
  text-align: center;
  color: #eebea4;
  padding: 20px 0;
  #flash-messages {
    .flash-notice {
      background-color: #232323;
      border-radius: 10px;
      margin-bottom: 2%;
    }
  }
}

label.entree-text {
  color: #eebea4;
  font-size: 1rem;
  font-weight: 600;

}

.entree-link {
  color: #eebea4;
}

.satisfy {
  font-family: 'Satisfy', cursive;
}
#map {
  height: 300px;
  max-width: 400px;
  margin: auto;
}

.errorText {
  background-color: #f7e4e1;
}

.flash-messages {
  background-color: #f7e4e1;
}

.button {
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 150px;
  font-weight: 700;
}

.button:focus {
  outline:0;
}

.margin-auto {
  margin: 0 auto;
}

form {
  .button-group {
    display: block;
  }
}

.button-margin-top {
  margin-top: 20px;
}

.entree-picker-container {
  background-color: #232323;
  padding-top: 20px;
  border-radius: 10px;
  input, textarea, select {
    margin: 0 auto;
    max-width: 40%;
  }
  .callout {
    border: none;
    background-color: #232323;
    border-radius: 10px;
  }
}

.random-entree {
  .entree-image {
    width: 40px;
    margin-right: 2px;
  }
  .restaurant-image {
    width: 40px;
    margin-right: 4px;
  }
}

.entree-history {
  background-color: transparent !important;
  h4 {
    font-family: 'Satisfy', cursive;
  }
  .callout {
    min-height: 300px;
    background-color: #232323;
    border-radius: 10px;
    color: #eebea4;
    vertical-align: middle;
  }
  input, textarea {
    margin: 0 auto 20px auto;
    display: block;
  }

  .entree-image {
    width: 25px;
    margin-right: 10px;
  }
  .restaurant-image {
    width: 25px;
    margin-right: 10px;
  }
}

.review-tile {
  margin-top: 20px;
  padding: 20px 0;
  border: 1px solid #fa9500;
  p {
    margin-bottom: 0;
  }
}

.user-experience {
  .callout {
    background-color: #232323;
    border-radius: 10px;
    color: #eebea4;
    vertical-align: middle;
  }
  .review-tile {
    margin: 0 15%;
  }
  input, textarea {
    width: 60%;
    margin: 0 auto 20px auto;
    display: block;
  }
  #reactgooglegraph-1 {
    margin: 0 auto;
  }
  .charts {
    margin-top: 0;
  }
}

.entree-home {
  margin-top: 0;
  .about-site {
    background-color: #232323;
    border-radius: 10px;
    padding: 40px;
    h2 {
      font-family: 'Satisfy', cursive;
    }
  }
  .callout {
    margin-top: 10px;
    background-color: #232323;
    color: #eebea4;
    border: none;
  }
  .display-flex {
    display: inline-flex;
  }
  .fa-user {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    color: #fa9500;
  }

  .tip {
    width: 0px;
    height: 0px;
    position: absolute;
    background: transparent;
    border: 10px solid #fa9500;
  }

  .tip-left {
    top: 10px;
    left: -25px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
   }

   .dialogbox .body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #464646;
    border-radius: 3px;
    border: 1px solid #fa9500;
  }

  .body .message {
    min-height: 30px;
    border-radius: 3px;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    padding-left: 20px;
  }
  .user {
    font-size: 14px;
    float: right;
    margin: 10px;
    font-family: 'Satisfy', cursive;
  }

  .user-reviews-text {
    background-color: #232323;
    padding: 20px 0;
    border-radius: 10px;
  }
  .margin-right {
    margin-right: 30px;
    margin-top: 10px;
  }
  .negative-margin {
    margin-bottom: -10px;
  }
}

.charts {
  margin-top: 20px;
}

#reactgooglegraph-1 {
    background-color: #020203;
    margin: 0 0 0 10%;
    border: 1px solid #fa9500;
    border-radius: 10px;
    text {
      fill: #eebea4;
    }
}

@media screen and (max-width: 480px) {
  .top-bar-section {
    li {
      width: 100%;
    }
  }
}
